body {
  background-color: ##140b7a;
}

:target > div {
  background-color: #49443c;
  border-left: 3px solid #faa81a;
}

section {
  padding-top: 10px;
}

section > div {
  padding: 10px;
}

h3 {
  margin-top: 0;
}

h2, p {
  margin: 5px 0 10px;
}